html
    head 
        title="BlogSpotBIT"

        style
             include ./style.css

    body(style={background:'#faeeeb'})
        .navbar 
            h1 BLOGSPOTBIT

        h1=title 
        h2=content 

        h2 By:
        h3=author_id.name
        h2 Published On:
        h3=date

